<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>factory</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>local_path_inventory</param-name>
    <param-value>D:\VBI\inventory</param-value>
  </context-param>
  <context-param>
    <param-name>local_path_barcode</param-name>
    <param-value>D:\VBI\barcode</param-value>
  </context-param>
  <context-param>
    <param-name>local_path_report</param-name>
    <param-value>D:\VBI\report</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <display-name>AuthenFilter</display-name>
    <filter-name>AuthenFilter</filter-name>
    <filter-class>com.bitmap.filter.AuthenFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description>
	 	</description>
    <display-name>CheckStockServlet</display-name>
    <servlet-name>CheckStockServlet</servlet-name>
    <servlet-class>com.bmp.parts.check.stock.CheckStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStockServlet</servlet-name>
    <url-pattern>/CheckStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bitmap.security.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/index/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchInventory</display-name>
    <servlet-name>SearchInventory</servlet-name>
    <servlet-class>com.bitmap.servlet.inventory.SearchInventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInventory</servlet-name>
    <url-pattern>/inventory/SearchInventory</url-pattern>
    <url-pattern>/purchase/SearchInventory</url-pattern>
    <url-pattern>/rd/SearchInventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaterialManagement</display-name>
    <servlet-name>MaterialManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.inventory.MaterialManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaterialManagement</servlet-name>
    <url-pattern>/inventory/MaterialManagement</url-pattern>
    <url-pattern>/rd/MaterialManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCat</display-name>
    <servlet-name>GetCat</servlet-name>
    <servlet-class>com.bitmap.ajax.GetCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCat</servlet-name>
    <url-pattern>/inventory/GetCat</url-pattern>
    <url-pattern>/rd/GetCat</url-pattern>
    <url-pattern>/purchase/GetCat</url-pattern>
    <url-pattern>/dev/GetCat</url-pattern>
    <url-pattern>/sale/GetCat</url-pattern>
    <url-pattern>/plan/GetCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoSnap</display-name>
    <servlet-name>PhotoSnap</servlet-name>
    <servlet-class>com.bitmap.ajax.PhotoSnap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoSnap</servlet-name>
    <url-pattern>/inventory/PhotoSnap</url-pattern>
    <url-pattern>/purchase/PhotoSnap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InletManagement</display-name>
    <servlet-name>InletManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.inventory.InletManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InletManagement</servlet-name>
    <url-pattern>/inventory/InletManagement</url-pattern>
    <url-pattern>/purchase/InletManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutletManagement</display-name>
    <servlet-name>OutletManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.inventory.OutletManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutletManagement</servlet-name>
    <url-pattern>/inventory/OutletManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployee</display-name>
    <servlet-name>GetEmployee</servlet-name>
    <servlet-class>com.bitmap.ajax.GetEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployee</servlet-name>
    <url-pattern>/inventory/GetEmployee</url-pattern>
    <url-pattern>/rd/GetEmployee</url-pattern>
    <url-pattern>/logis/GetEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RDManagement</display-name>
    <servlet-name>RDManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.rd.RDManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RDManagement</servlet-name>
    <url-pattern>/rd/RDManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMaterial</display-name>
    <servlet-name>SearchMaterial</servlet-name>
    <servlet-class>com.bitmap.servlet.rd.SearchMaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMaterial</servlet-name>
    <url-pattern>/rd/SearchMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFormular</display-name>
    <servlet-name>SearchFormular</servlet-name>
    <servlet-class>com.bitmap.servlet.rd.SearchFormular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFormular</servlet-name>
    <url-pattern>/rd/SearchFormular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMaterial</display-name>
    <servlet-name>ViewMaterial</servlet-name>
    <servlet-class>com.bitmap.servlet.rd.ViewMaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMaterial</servlet-name>
    <url-pattern>/rd/ViewMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpManageServlet</display-name>
    <servlet-name>EmpManageServlet</servlet-name>
    <servlet-class>com.bitmap.servlet.hr.EmpManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpManageServlet</servlet-name>
    <url-pattern>/hr/EmpManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrgManagement</display-name>
    <servlet-name>OrgManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.hr.OrgManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgManagement</servlet-name>
    <url-pattern>/hr/OrgManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseManage</display-name>
    <servlet-name>PurchaseManage</servlet-name>
    <servlet-class>com.bitmap.servlet.purchase.PurchaseManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseManage</servlet-name>
    <url-pattern>/purchase/PurchaseManage</url-pattern>
    <url-pattern>/PurchaseManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManage</display-name>
    <servlet-name>CustomerManage</servlet-name>
    <servlet-class>com.bitmap.servlet.sale.CustomerManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManage</servlet-name>
    <url-pattern>/info/CustomerManage</url-pattern>
    <url-pattern>/sale/CustomerManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaleManage</display-name>
    <servlet-name>SaleManage</servlet-name>
    <servlet-class>com.bitmap.servlet.sale.SaleManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleManage</servlet-name>
    <url-pattern>/sale/SaleManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductionSaleManage</display-name>
    <servlet-name>ProductionSaleManage</servlet-name>
    <servlet-class>com.bitmap.bean.production.Production</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductionSaleManage</servlet-name>
    <url-pattern>/plan/CreateProduction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PackageManage</display-name>
    <servlet-name>PackageManage</servlet-name>
    <servlet-class>com.bitmap.servlet.sale.PackageManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackageManage</servlet-name>
    <url-pattern>/sale/PackageManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogisManage</display-name>
    <servlet-name>LogisManage</servlet-name>
    <servlet-class>com.bitmap.servlet.logistic.LogisManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogisManage</servlet-name>
    <url-pattern>/logis/LogisManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveManagement</display-name>
    <servlet-name>ReceiveManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.inventory.ReceiveManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveManagement</servlet-name>
    <url-pattern>/inventory/ReceiveManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarServlet</display-name>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>com.bitmap.servlet.production.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/CalendarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportInvoiceServlet</display-name>
    <servlet-name>ReportInvoiceServlet</servlet-name>
    <servlet-class>com.bitmap.servlet.report.ReportInvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportInvoiceServlet</servlet-name>
    <url-pattern>/ReportInvoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorServlet</display-name>
    <servlet-name>VendorServlet</servlet-name>
    <servlet-class>com.bmp.vendor.VendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorServlet</servlet-name>
    <url-pattern>/VendorServlet</url-pattern>
    <url-pattern>/purchase/VendorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
	</description>
    <display-name>CheckStockHDServlet</display-name>
    <servlet-name>CheckStockHDServlet</servlet-name>
    <servlet-class>com.bmp.parts.check.stock.CheckStockHDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStockHDServlet</servlet-name>
    <url-pattern>/CheckStockHDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
	 	</description>
    <display-name>ReportUtilsServlet</display-name>
    <servlet-name>ReportUtilsServlet</servlet-name>
    <servlet-class>com.bitmap.utils.report.ReportUtilsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ProductionServlet</display-name>
    <servlet-name>ProductionServlet</servlet-name>
    <servlet-class>com.bitmap.servlet.production.ProductionServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>StagingServlet</display-name>
    <servlet-name>StagingServlet</servlet-name>
    <servlet-class>com.bitmap.servlet.staging.StagingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StagingServlet</servlet-name>
    <url-pattern>/StagingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportUtilsServlet</servlet-name>
    <url-pattern>/ReportUtilsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductionServlet</servlet-name>
    <url-pattern>/ProductionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>STOServlet</display-name>
    <servlet-name>STOServlet</servlet-name>
    <servlet-class>com.bitmap.servlet.sto.STOServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>STOServlet</servlet-name>
    <url-pattern>/STOServlet</url-pattern>
  </servlet-mapping>
</web-app>